* {
	box-sizing: border-box;
}
:root {
	--blanco: #ffffff;
	--oscuro: #212121;
	--primario: #838ef0;
	--secundario: #282c34;
	--gris: #757575;
	--grisclaro: #dfe9f3;
}
/** Globales **/
html {
	/* font-size: 62.5%; */
	font-family: "Roboto Mono", monospace;
}
a {
	text-decoration: none;
}
span {
	padding: 0.1rem;
	border-radius: 0.2rem;
}
li {
	list-style: none;
}
.main {
	margin: 0 5rem 0 5rem;
}

/*** MENU Principal ****/
header{
    position: fixed;
    top:0; left: 0; right:0;
    background: #fff;
    padding:1rem 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: var(--box-shadow);
}

header .logo{
    color:var(--black);
    font-size: 2.5rem;
    font-weight: bolder;
}

header .logo i{
    color:var(--green);
}

header .navbar a{
    font-size: 1.7rem;
    border-radius: .5rem;
    padding:.5rem 1.5rem;
    color:var(--light-color);
}

header .navbar a.active,
header .navbar a:hover{
    color:rgb(173, 166, 166);
    background: var(--green);
}

header .icons i,
header .icons a{
    cursor: pointer;
    margin-left: .5rem;
    height:4.5rem;
    line-height: 4.5rem;
    width:4.5rem;
    text-align: center;
    font-size: 1.7rem;
    color:var(--black);
    border-radius: 50%;
    background: #eee;
}



header .icons #menu-bars{
    display: none;
}
@media (max-width:768px){

    header .icons #menu-bars{
        display: inline-block;
    }

    header .navbar{
        position: absolute;
        top:100%; left:0; right:0;
        background:#fff;
        border-top: .1rem solid rgba(0,0,0,.2);
        border-bottom: .1rem solid rgba(0,0,0,.2);
        padding:1rem;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    header .navbar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    header .navbar a{
        display: block;
        padding:0.5rem;
        margin:1rem;
        font-size: 2rem;
        background:#eee;
    }



}

@media (max-width:450px){

    html{
        font-size: 50%;
    }

    .dishes .box-container .box img{
        height:auto;
        width: 100%;
    }

    .order form .inputBox .input{
        width:100%;
    }

}
/**** Banner--Seccion ***/
.banner--seccion {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	background-image: url(../img/astronauta.gif);
	background-size: 20rem;
	background-repeat: no-repeat;
	background-position-x: center;
	background-position-y: center;
	margin:10rem 0rem 6rem 2rem;
}

.banner--span {
	color: #b87ceb;
}
.banner--h1 {
	font-size: 3rem;
	margin: 0;
}
.banner--h2 {
	color: var(--primario);
	font-size: 4rem;
	flex-wrap: wrap;
}

@media (min-width: 760px) {
	.banner--seccion {
		margin: 5rem 0rem 6rem 2rem;
		background-size: 25rem;
		background-position-x: right;
	}
	.banner--h2 {
		color: var(--primario);
		font-size: 4rem;
	}
}
.banner--p {
	color: var(--secundario);
	font-size: 1rem;
	flex-wrap: wrap;
	margin: 0;
}
.banner--boton {
	color: lemonchiffon;
	background-color: #838ef0;
	padding: 0.8rem;
	border-radius: 0.3rem;
	margin: 2rem 0 2rem 0;
}
.banner--boton:hover {
	background-color: black;
	padding: 0.8rem;
}
/*** Seccion **/
.seccion {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}
.seccion--sobremi {
	padding-bottom: 0.5rem;
	flex-wrap: wrap;
}
.mifoto {
	max-width: 100%;
	animation: tada; /* referring directly to the animation's @keyframe declaration */
	animation-duration: 5s;
}

.seccion--tec {
	display: flex;
}

.seccion2 {
	display: flex;
	flex-wrap: wrap;
	padding: 0.5rem;
	gap: 1rem;
}

.seccion3 {
}

.seccion-articles {
	display: flex;
	flex-wrap: wrap;
	gap: 0.5rem;
}

.seccion-items {
	padding: 4rem 4rem;
	box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;
	border-radius: 0.5rem;
	/* background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%); */
}
.seccion-items:hover {
	background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
	animation: swing; /* referring directly to the animation's @keyframe declaration */
	animation-duration: 2s; /* don't forget to set a duration! */
}

@media (max-width: 460px) {
	.seccion-articles {
		display: flex;
		gap: 1rem;
	}
	.seccion-items {
		padding: 2rem 4rem;
	}
}
.boton {
	display: block;
	width: 10rem;
	text-align: center;
	color: white;
	background-color: #838ef0;
	padding: 0.8rem;
	border-radius: 0.3rem;

	margin: 2rem auto 0 auto;
}
.boton:hover {
	background-color: black;
	padding: 0.8rem;
}
.seccion--contacto {
	display: flex;
	flex-direction: column;

	align-items: center;
	margin-bottom: 3rem;
	text-align: center;
}

/**** testimoniales ****/

/*** FOOTER ***/
.contenedorfooter {
	background-color: var(--oscuro);
	color: white;
	display: flex;
	justify-content: space-around;
}

.footer--items a {
	color: var(--blanco);
}

@media (max-width: 760px) {
	.contenedorfooter {
		flex-direction: column;
	}
	.footer {
		margin-left: 1rem;
		margin-right: 1rem;
	}

	.footer--items ul {
		display: flex;
		gap: 1rem;
	}
}
